server:
  port: 9000

spring:
  datasource:
    url: jdbc:mysql://<mysql-host>:3306/fish_sso?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&characterEncoding=utf8
    username: <db-username>
    password: <db-password>
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
  data:
    redis:
      host: <redis-host>
      port: 6379

app:
  sso:
    issuer: http://localhost:9000
    session-ttl: 8h
    auth-code-ttl: 5m
    access-token-ttl: 30m
    login-protection:
      account:
        max-failures: 5
        window: 5m
        block-duration: 10m
      ip:
        max-failures: 40
        window: 10m
        block-duration: 30m
      account-ip:
        max-failures: 8
        window: 10m
        block-duration: 20m

logging:
  level:
    org.springframework.security: INFO
